PORT=8889
JWT_SECRET=ChangeMeToA32CharSecretKeyForJwt
JWT_ACCESS_EXP_MS=900000
JWT_REFRESH_EXP_MS=604800000

MONGODB_URI=hivehub
MONGODB_DB_NAME=hivehub
MONGODB_COLLECTION=app_state
MONGODB_DOCUMENT_ID=hivehub_main
